{% extends "base.html.twig" %}
{% block title %}{{ parent() }} -  Erreur {% endblock %}
{% block nao_section %}
    <div class="container-fluid ecart" id ="contenu">
        <div class="row" style="background-color: rgba(255, 255, 255, 0.5);">
            <div class="col-lg-6 col-lg-offset-3">

            </div>
        </div>
        <div class="row presentation2" >
            <br/>
            <br/>
            <br/>
            <div class="col-lg-8 col-lg-offset-2 text-center">
         
                <h3>Oups ! La page est inaccessible. </h3>
                     
                <p>Une erreur n°{{ status_code }} s'est produite. </p>
                <p>Redirigez-vous à l'aide du menu.</p>

    <br/>
            <br/>
            <br/>
            </div>
        </div>
    </div>



{% endblock %}