<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}NAO{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset("css/datatables.min.css") }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>

    <body>

        <header> <!-- l'entête de la page qui comprend le menu -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar_navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <a class="navbar-brand nav-logo" href="{{ path ('nao_home_register')}}"><img class="logo img-rounded" src="{{asset('images/logo_min.png')}}" alt="logo_nao"></a>
                        {%  else %}
                            <a class="navbar-brand nav-logo" href="{{ path ('nao_home')}}"><img class="logo img-rounded" src="{{asset('images/logo_min.png')}}" alt="logo_nao"></a>
                        {% endif %}

                    </div>
                    <div class="collapse navbar-collapse" id="bar_navigation">
                        <ul class="nav navbar-nav navbar-right ">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <li> <a class="menu-a"  href="{{ path ('nao_home_register')}}"><span class="glyphicon glyphicon glyphicon-home"> </span>  Accueil </a></li>
                                {%  else %}
                                <li> <a class="menu-a" href="{{ path ('nao_home')}}"><span class="glyphicon glyphicon glyphicon-home"> </span>  Accueil </a></li>
                                {% endif %}

                            {% if is_granted('ROLE_USER') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle menu-a" data-toggle="dropdown"> Les observations <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a  href="{{path ('nao_list') }}">  Liste des observations</a></li>
                                        <li><a  href="{{path ('nao_mylist') }}"> Mes observations</a></li>

                                        <li><a  href="{{path ('nao_add') }}">  Ajouter une observation</a></li>
                                        {% if is_granted('ROLE_PRO') %} <li><a  href="{{path ('nao_valid') }}">  Observations en attentes {% if observation_infobulle.observationIsWait()|length != 0 %} <span class="badge">{{ observation_infobulle.observationIsWait()|length }} </span>{% endif %}</a></li>{% endif %}
                                    </ul>
                                </li>
                                <li> <a class="menu-a" href="{{ path ('nao_especes') }}">Référentiel TAXREF</a></li>
                                {% endif %}
                            <li> <a class="menu-a" href="{{ path ('nao_faq')}}">  FAQ </a></li>
                            <li> <a class="menu-a" href="{{ path ('nao_contact')}}">  Contact </a></li>
                            <li class="dropdown">
                                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                    <a class="menu-a"  href="{{path ('logout') }}"><span class="glyphicon glyphicon-log-out"> </span>   Déconnexion</a>
                                {% else %}
                                    <a href="#" class="dropdown-toggle menu-a" data-toggle="dropdown"><span class="glyphicon glyphicon-user"> </span> Votre compte <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a  href="{{path ('login') }}">  Connexion</a></li>
                                        <li><a  href="{{path ('registration') }}">  Créer votre compte</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section>
            {% block nao_section %}

            {% endblock %}
            <p><br/> </p>
        </section>


        <footer>
            <div class="bg-info">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-10 col-lg-offset-1">
                        <div class="col-sm-4 col-sm-push-8">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <h4><b>Connecté en tant que {{app.user.username}}</b></h4>
                                <p><a class="btn-footer" href="{{path ('user_edit') }}"> Modifier votre compte </a> <br/>
                                <a class="btn-footer" href="{{path ('password') }}"> Changer votre mot de passe</a></p>
                            {% else %}
                            <h4 ><b>Visiteur anonyme</b></h4>
                            <p><a class="btn-footer"  href="{{path ('registration') }}" >Inscrivez-vous pour accéder <br/>aux autres pages du site</a></p>
                            {% endif %}
                        </div>

                        <div class="col-sm-4">
                            <h4><b>Nos partenaires</b></h4>
                            <p><a class="btn-footer" href="http://www.oiseaux.net" target="_blank">Les oiseaux</a><br/>
                            <a class="btn-footer" href="//www.lpo.fr" target="_blank">L.P.O.</a></p>

                        </div>
                        <div class="col-sm-4 col-sm-pull-8">
                            <h4 ><b>NAO</b></h4>
                            <p><a class="btn-footer" href="{{ path ('nao_waw') }}">Qui sommes nous</a><br/>
                            <a class="btn-footer" href="{{ path ('nao_contact') }}">Nous contacter</a><br/>
                            <a class="btn-footer" href="{{ path ('nao_legal') }}">Mentions légales</a></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </footer>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/main.min.js') }}"></script>
            <script src="{{ asset('js/observation.min.js') }}"></script>
            <script src="{{ asset('js/datatables.min.js') }}"></script>
        {% endblock %}

    </body>
</html>
