<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}NAO{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
    <body>

        <div class="container-fluid">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <a class="navbar-brand nav-logo" href="{{ path ('nao_home')}}"><img class="logo img-rounded" src="{{asset('images/logo_min.png')}}" alt="logo_nao"></a>
                <img src=" {{ asset('images/decor.png') }}" width="100%"/>
                <div class="panel-user">
                    <div class="row">
                        <h3 class="lobster text-center ">{{ msg }}  {% if user %}{{ user.prenom }} {{ user.nom }} {% endif %}</h3><br/>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>