{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Activation
{% endblock %}


{% block nao_section %}
    <div class="container-fluid">
        <img src=" {{ asset('images/decor.png') }}" width="100%"/>
        <div class="panel-user">
             <div class="row">
               <div class="text-right btn-croix"><a class="btn  btn-sm active " href="{{ path ('nao_home')}}"><span class="glyphicon glyphicon-remove"> </span>  </a></div>

                <h3 class="lobster text-center titre-user">Veuillez saisir le numéro qui vous a été adressé par email pour activer votre compte</h3>
            </div>
            <div class="panel-body">
                {% if essai > 1 %}
                    <div class="row">
                    <p class = " col-sm-offset-2 col-sm-8 alert alert-warning">C'est votre tentative N°{{ essai }}: {% for message in app.session.flashbag.get('info') %} {{ message }} {% endfor %}</p>
                    </div>
                {% endif %}
                <div class = "row">
                    <div class="col-sm-offset-3 col-sm-7">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}