<p><img src="{{dir_image }}"/></p>
<h3> Vous venez de créer un compte sur notre site</h3>
<p> Nous vous en remerciant vivement {{ prenom }} {{ nom }}</p>
<p> Pour activer votre compte, veuillez saisir le numéro ci-dessous qui vous est demandé sur notre site</p>
<p><strong>{{ numero }}</strong></p>

