<p><img src="{{dir_image }}"/></p>
<h2> <strong> {{ prenom }} {{ nom }} </strong></h2>

<h3> Le statut professionnel vous a été accordé par le grand oiseau déplumé en chef de la NAO</h3>
<p><em><small> Tâcher d'être, comme le serait un paon faisant la roue devant une mouette rieuse, fier et   digne de cet insigne honneur qui vous est fait</small></em></p>
<h3>Merci de votre coopération!</h3>
