<h2>Demande de Statut Professionnel</h2>
<h3> <strong> {{ prenom }} {{ nom }} </strong> a demandé à être considéré comme professionnel</h3>

<p> sa spécialité est : {{ specialite }}</p>
<p>et sa profession est : {{ profession }}</p>
<h3> Si vous êtes d'accord pour lui accorder le status de professionnel, veuillez cliquez sur le lien ci-dessous.</h3>
<a href = "{{ lien }}" >OK! j'accepte {{ prenom }} {{ nom }} en tant que professionnel</a>
<p><em><small>Sinon, pour vous éviter tout problème dans le cas d'un demandeur récalcitrant et violent, nous le laisserons dans une incertitude appropriée à la situation...<br/> Vous pouvez simplement effacer cet email </small></em></p>

