{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - edition du compte
{% endblock %}


{% block nao_section %}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <img src=" {{ asset('images/decor.png') }}" width="100%"/>
            <div class="panel-user">
                <div class="row">
                    <div class="text-right btn-croix"><a class="btn  btn-sm active " href="{{ path ('nao_home_register')}}"><span class="glyphicon glyphicon-remove"> </span>  </a></div>
                        <h3 class="lobster text-center titre-user">Modifier votre compte </h3>
                </div>
                <div class="row panel-body">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}