{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}


{% block nao_section %}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <img src=" {{ asset('images/decor.png') }}" width="100%"/>
            <div class="panel-user">
                 <div class="row">
                   <div class="text-right btn-croix"><a class="btn  btn-sm active " href="{{ path ('nao_home')}}"><span class="glyphicon glyphicon-remove"> </span>  </a></div>

                    <h3 class="lobster text-center titre-user">Merci de vous identifier pour accéder à l'application</h3>
                </div>
                <div class="panel-body">
                    {% if error %}
                        <div class="row">
                        <p class = " col-sm-offset-2 col-sm-8 alert alert-warning">{{ error }}</p>
                        </div>
                    {% endif %}
                    <div class = "row">
                    <form class="form-horizontal contact" action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="username">Pseudo:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="password">Mot de passe:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="password" id="password" name="_password" />
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="/NAO" />
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button class="btn" type="submit">Se connecter</button>
                            </div>
                        </div>
                    </form>
                        <div class="text-right oubli">
                        <a class="oubli" href="{{ path ('oubli') }}" title="Je suis un blaireau et j'ai oublié mon mot de passe, je clique discrètement ici"><small><em>Mot de passe oublié ?</em></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}