
<p><img src="{{dir_image }}"/></p>
<h2>Réinitialisation du mot de passe</h2>
<h3>Vous devez être <strong> {{ prenom }} {{ nom }} </strong>,  le bouffon qui a oublié son mot de passe</h3>


<h4> Dans sa grande magnanimité, l'association NAO accepte vos excuses et vous autorise à saisir un nouveau mot de passe qui vous permettra, si vous arrivez à vous en souvenir,  d'accéder à nouveau à votre compte </h4>
<p>Veuilez cliquer sur le lien ci-dessous</p>
<a href = "{{ lien }}" title ="Oui, en cliquant, je reconnais que je suis un blaireau et je remercie vivement votre grande et magnifique association de me laisser choisir un nouveau mot de passe qui sera plus facile à retenir pour le bouffon que je suis"> Réinitialisation de mon mot de passe</a>
<br/>
<p><em><small>Si jamais vous n'êtes pas {{ prenom }} {{ nom }}, veuillez ne pas tenir compte de cet email.<br/> Nous vous remercions de simplement l'effacer</small></em></p>

