{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Création de compte
{% endblock %}


{% block nao_section %}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <img src=" {{ asset('images/decor.png') }}" width="100%"/>
            <div class="panel-user">
                <div class="row">
                   <div class="text-right btn-croix"><a class="btn  btn-sm active " href="{{ path ('nao_home')}}"><span class="glyphicon glyphicon-remove"> </span>  </a></div>
                    {% if pro %}
                        <h3 class="lobster text-center titre-user">Compléter les informations pour un compte professionnel</h3>
                    {% else %}
                        <h3 class="lobster text-center titre-user">Créer votre compte </h3>
                    {% endif %}

                </div>
                <div class="row panel-body">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                         {{ form(form) }}
                    </div>
                </div>
                {% if pro %}
                    <p class="text-center"><em>La validation du statut professionnel de votre compte, s'il est accepté, vous sera confirmé par un Email.</em></p><br/>
                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}