body {
    background-image : url('foggy_birds.png')!important;
    background-repeat: repeat;
}

footer, header, .nav li a {
    /*    background-color:#B5E1F7; */
    font-weight  : bold;
}

.menu-a {
    /*background-color : #DEDEDE;*/
    background-color : #FFFFFF;
    margin-top: 10px;
}

.logo {
    max-height : 80px;
    vertical-align: top;
    padding-top: 0px !important;
}

.img-wow {
    position: relative;
}

.logo-wow {
    position: absolute;
    right: 0;
    bottom : 1%;
    width: 30%;
}
.logo_ml {
    width: 30%;
}

.nav-logo {
    padding-top: 0px !important;
    height : 80px !important;
}
.dropdown-menu {
    /*  background-color:#B5E1F7 !important;*/
}

.dropdown-menu li a {
    /* background-color:#B5E1F7; */
}

.nav li a:hover,.nav li a:focus  {
    background-color : #B5E1F7 !important;
}

.border_bottom
{
    border-bottom: 3px solid #B5E1F7;
}
#mapMonde
{
    position: relative;
    height: 600px;
    width: 100%;
}
.icon-bar {
    background-color :  #AA7122;
}
#mapObservations
{
    position: relative;
    height: 600px;
    width: 100%;
}
.legende td
{
    padding-right: 20px;
}
.legende th
{
    padding-right: 5px;
}

.lobster {font-family: Lobster , cursive;}
.container-map{background-color:#d9edf7; padding-bottom:12px;}
.container-map #map{height:220px;}
#tableauObs th, #legendObs th, #tableau th {text-align:center; }
#tableauObs td, #tableauObs th, #legendObs td{ vertical-align: middle !important;}
#statutObs .btn, #legendObs .btn {cursor:default; padding:0px 4px;}
#legendObs{padding: 50px 0px;} 
.btn.obs {color: black;}
.icone .btn {margin:5px 0px; color:white; }
.bleu {background-color:#d9edf7;}
.bleu.well {background-color:#d9edf7;}
.table-responsive.bleu{padding :1%; margin-top: -1.5%;}
.icone .btn {margin:5px 0px; }
.marge2 {margin-bottom: 2%;}
.col-xs-6.marge2{min-width:200px;}





.btn-nao {
    display: inline-block;
    background-image : url('oiseau_B2-1.png');
    background-position : center;
    background-size : contain;
    background-repeat: no-repeat;
    width : 90%;
    margin-bottom : 20px;
    font-size : 1.3em;
    font-weight  : bold;
    min-height : 120px;
    padding: 30px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    border : 5px solid #d9edf7;
    border-radius : 120px;
    color : black;
}
.btn-nao:hover {
    background-image : url('oiseau_B1-1.png');
    text-decoration: none;
    border : 5px solid #7BCEF7;
    color :#F7BF72;
}

.btn-home {
    font-size : 2em;
    width : 80%;
    min-height : 160px;
}

.panel-user {
    background-color:#d9edf7 ;
    margin-bottom: 20px;
}

.btn-croix {
    margin-right : 30px;
}

.titre-user {
    margin-top : 0px;
    font-size : 2em;
}

.btn {
    background-color : #AA7122;
    color : #B5E1F7 !important;
    font-weight  : bold !important;
    font-size : 1.2em !important;
}

.btn:hover{
    background-color : #F7BF72;
}
.titre-home {
    color :  black;
    position: absolute;
    top: 10%;
    padding-left : 10%;
    padding-right: 10%;
}
.titre-home-xs {
    top: 2% !important;
    padding-left : 5%;
    padding-right: 5%;
}
.titre-texte {
    color :  #AA7122;
    background-color : #B5E1F7;
    padding : 20px;
    margin-bottom : 0;
}

.texte {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #B5E1F7;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    background-color : #d9edf7;
    color : #AA7122;
}


.btn-footer:hover {
    background-color : #7BCEF7;
    border : 4px solid  #B5E1F7;
    text-decoration: none;
}

.oubli {
    padding-right : 20px;

}

.oubli:hover {
    text-decoration: none !important;
    color: red;
}

.der-obs {
    display: inline-block;
    background-color : rgb(224,224,224);
    border : 4px solid rgb(230,233,239);
    border-radius : 10px;
    width : 90%;
    margin-bottom: 10px;
}
.ct-der-obs {
    display: flex;
    justify-content: space-around;
}
.img-der-obs {
    padding: 5%;
    display: block;
    max-width: 100%;
}

.btn-obs { color : black !important; font-size : 1em !important; }
.btn-white {color:white !important; font-weight  : normal !important; font-size : 1em !important;}

.alert{
    background-color : #7BCEF7 !important;
    color : #AA7122 !important;
    font-weight  : bold;

}
#myModalLabel{
    text-align: center;
}
.modal-body{
    text-align: center;
}

.contact {
    padding-left: 15px;
    padding-right: 15px;
}


.absolute{position:absolute; top:2%;}
.absolute h3{color:white; text-shadow:2px 2px black; width:100%; margin-top:2px; font-size:130%;}
.absolute p{color:white; text-shadow:1px 1px black; width:100%; margin-top:2px; font-size:80%; margin-top:15px;}
.btn-accueil-black{ background-color:black; padding:6px; cursor:pointer; width:150px; font-weight:600; color:white;}
.btn-accueil-bleu{ background-color:#b3cbfe; padding:6px !important; width:150px !important; cursor:pointer; font-weight:600 !important; color:white;}
.btn-accueil-bleu a, .btn-accueil-black a{ font-weight:600 !important; color:white;}
.btn-accueil-bleu a:hover, .btn-accueil-black a:hover{ text-decoration:none; color:white; }
.texte-slide{margin-bottom:1%;}
.btn-accueil-bleu:hover{box-shadow: 0px 0px 15px #b3cbfe;  }
.btn-accueil-black:hover{box-shadow: 0px 0px 15px black;  }
.bg-white{background:url('../images/fondu.png')no-repeat; background-size:100% 100%; padding-top:30px;}
.bg-bandeau{background:url('../images/bandeau.png')no-repeat; background-size:100% 100%; padding:50px 0px;}
.text-black{color:black !important; font-style:normal !important; font-size:130% !important;}
.text-black:hover{background-color:white !important; box-shadow: 0px 0px 15px white; border:1px solid white !important;}
.btn.text-black{padding:10px 5px;}
.ecartsupp{margin-top:-20px;}
.btn-footer{color:black; font-weight:400;}
.texte-slide{margin-top: -15px;}
.btn.btn-default.btn-lg.text-black{margin:2% 0%; width:200px; max-width:110%;}
.btn.btn-default.btn-lg.text-black.connect{font-size:100% !important; font-weight:400;}
@media(max-width:1199px){.carousel-inner > .item > img{
                             max-width: 120% !important;
                         }
                         .carousel-inner > .item:nth-child(1)  > img {margin-left:-20%;}
                         .carousel-inner > .item:nth-child(2)  > img {margin-left:-18%;}
                         .carousel-inner > .item:nth-child(3)  > img {margin-left:-18%;}
                       
}

@media(max-width:899px){.carousel-inner > .item > img{
                            max-width: 130% !important;
                        }
                        .carousel-inner > .item:nth-child(1)  > img {margin-left:-20%;}
                     .carousel-inner > .item:nth-child(2)  > img {margin-left:-18%;}
                         .carousel-inner > .item:nth-child(3)  > img {margin-left:-18%;}
                      
}

@media(max-width:599px){.carousel-inner > .item > img{
                            max-width: 140% !important;
                        }
                        .carousel-inner > .item:nth-child(1)  > img {margin-left:-20%;}
                        .carousel-inner > .item:nth-child(2)  > img {margin-left:-18%;}
                        .carousel-inner > .item:nth-child(3)  > img {margin-left:-18%;}
                     
}

@media(max-width:399px){.carousel-inner > .item > img{
                            max-width: 230% !important;
                        }
                        .carousel-inner > .item:nth-child(1)  > img {margin-left:-90%;}
                        .carousel-inner > .item:nth-child(2)  > img {margin-left:-60%;}
                        .carousel-inner > .item:nth-child(3)  > img {margin-left:-60%;}
                  
}