{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}


{% block nao_section %}

    <div class="container-fluid ecartsupp">

        <div id="slider-accueil" class="carousel slide row" data-ride="carousel" data-interval="5500">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#slider-accueil" data-slide-to="0" class="active"></li>
                <li data-target="#slider-accueil" data-slide-to="1"></li>
                <li data-target="#slider-accueil" data-slide-to="2"></li>
            </ol>

            <!-- Contenu du slider -->
            <div class="carousel-inner " role="listbox">
                <div class="item active">
                    <img src="{{asset('images/slide1.jpg')}}" alt="oiseau" width="100%" style="">
                    <div class="absolute row ">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0"> 
                            <div class="col-xs-7  ">  
                                <div class="col-lg-12 "> 

                                    <img class="image-responsive" src="{{asset('images/logo_max.png')}}" alt="logo_nao" style="width:100%;"/></div>
                                <div class="col-lg-12 texte-slide "> 
                                    <h3 class="text-center hidden-xs">VENEZ PARTICIPER A NOTRE PROGRAMME DE RECHERCHE SUR LES OISEAUX</h3>
                                    <p class="text-center visible-xs">VENEZ PARTICIPER A NOTRE PROGRAMME DE RECHERCHE SUR LES OISEAUX</p>


                                </div>

                                <div class="row">

                                    <div class="col-xs-6  text-center hidden-xs">
                                        <div class="btn-accueil-bleu  center-block"><a href="{{path ('login') }}">CONNECTEZ-VOUS</a></div></div>
                                    <div class="col-xs-6 text-center hidden-xs">
                                        <div class="btn-accueil-black center-block"><a href="{{path ('registration') }}">REJOIGNEZ-NOUS</a></div></div></div></div></div></div>
                </div>
                <div class="item">
                    <img src="{{asset('images/slide2.jpg')}}" width="100%" alt="oiseau"> 
                    <div class="absolute row ">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1col-xs-12 col-xs-offset-0"> 
                            <div class="col-sm-7 col-sm-offset-5 col-xs-8 col-xs-offset-4"> 
                                <div class="col-lg-12 "> 

                                    <img class="image-responsive" src="{{asset('images/logo_max.png')}}" alt="logo_nao" style="width:100%;"/></div>
                                <div class="col-lg-12 texte-slide "> 
                                    <h3 class="text-center hidden-xs">AMIS DES OISEAUX, VENEZ PARTAGER VOS OBSERVATIONS ET VOTRE EXPERTISE</h3>
                                    <p class="text-center visible-xs">AMIS DES OISEAUX, VENEZ PARTAGER VOS OBSERVATIONS ET VOTRE EXPERTISE</p>
                                </div>
                                <div class="row">

                                    <div class="col-xs-6  text-center hidden-xs">
                                        <div class="btn-accueil-bleu  center-block"><a href="{{path ('login') }}">CONNECTEZ-VOUS</a></div></div>
                                    <div class="col-xs-6 text-center hidden-xs">
                                        <div class="btn-accueil-black center-block"><a href="{{path ('registration') }}">REJOIGNEZ-NOUS</a></div></div></div></div></div></div>
                </div>
                <div class="item">
                    <img src="{{asset('images/slide3.jpg')}}" width="100%" alt="oiseau">
                    <div class="absolute row ">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0"> 
                            <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5  col-xs-7 col-xs-offset-5"> 
                                <div class="col-lg-12 "> 
                                    <br/>
                                    <img class="image-responsive" src="{{asset('images/logo_max.png')}}" alt="logo_nao" style="width:100%;"/></div>
                                <div class="col-lg-12 texte-slide "> 
                                    <h3 class="text-center hidden-xs">VENEZ CONSULTER LA LISTE DES ESPECES DU MUSEE NATIONAL D'HISTOIRE NATURELLE </h3>
                                    <p class="text-center visible-xs">VENEZ CONSULTER LA LISTE DES ESPECES DU MUSEE NATIONAL D'HISTOIRE NATURELLE</p>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6  text-center hidden-xs">
                                        <div class="btn-accueil-bleu  center-block"><a href="{{path ('login') }}">CONNECTEZ-VOUS</a></div></div>
                                    <div class="col-xs-6 text-center hidden-xs">
                                        <div class="btn-accueil-black center-block"><a href="{{path ('registration') }}">REJOIGNEZ-NOUS</a></div></div></div></div></div></div>
                </div>


            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#slider-accueil" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#slider-accueil" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
        <div class="row bg-white">

            <div class="col-lg-6 col-lg-offset-3 ">
                <p> L'association <strong>"NOS AMIS LES OISEAUX"</strong> participe à un programme de recherche visant à étudier les effets du climat, de l'urbanisation et de l'agriculture sur la biodiversité.<br/>
                Passionnés d'ornithologie, professionnels ou non, l'association souhaite votre participation à cette étude organisée dans le cadre d'un projet européen. Vos promenades seront l'occasion d'alimenter notre base de données grâce à vos observations.<br/><br/>
                Pour cela, il suffit de vous inscrire. Vous aurez alors accès à notre application qui vous permettra de :</p>
             
                
                <p><img src="{{ asset('images/search.png')}}" width="25px"/>  rechercher les différentes espèces d’oiseaux parmi la base de données (téléchargement via la base de données TAXREF du Muséum National d’Histoire Naturelle)</p>
                 <p><img src="{{ asset('images/map-1.png')}}" width="25px"/>  les afficher sur une carte (après filtre par espèce)</p>
                 <p><img src="{{ asset('images/placeholder-2.png')}}" width="25px"/> saisir une « observation » d’un oiseau sur le terrain, avec nom, date, coordonnées GPS et photo facultative. </p><br/>
                Professionnels, nous avons aussi besoin de vous pour contribuer à ces recherches, et valider les observations faites par les bénévoles non professionnels.


            </div>
        </div>
        <div class="bg-bandeau row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <br/>
                <br/>
                <div class="col-md-3 col-md-offset-3 ">
                    <a href="{{ path ('registration') }}" class="btn btn-default btn-lg lobster text-black">Inscrivez-vous</a>
                </div>
                <div class="col-md-3  ">
                    <a href="{{ path ('login') }}" class="btn btn-default btn-lg lobster text-black">Connectez-vous</a>
                </div>
            </div>
        </div>
        {% for message in app.session.flashbag.get('info') %}
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <br/>
                <div class="alert alert-info text-center">{{ message }}</div>
                <br/>
            </div>
        {% endfor %}

        <div class="row  bg-white">
            <div class="col-lg-6 col-lg-offset-3">
                <h3>NOS PARTENAIRES</h3>
                <p>Nous sommes en partenariat avec les associations LPO et Oiseaux.net pour mener au mieux cette étude.<br/>
                </p>
                <div class="row">

                    <div class="col-xs-5 col-xs-offset-0  col-sm-3 col-sm-offset-3 text-center ">
                        <a class="btn-footer" href="http://www.oiseaux.net" target="_blank">
                            <img src="{{asset('images/oiseauxnet_logo.png')}}" alt="oiseau" style="height:50px; width:auto;">
                        </a>
                    </div>
                    <div class="col-xs-7 col-sm-3 text-center">

                        <a class="btn-footer" href="//www.lpo.fr" target="_blank">
                            <img src="{{asset('images/logo_lpo.svg')}}" alt="oiseau" style="height:50px; width:auto;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}