{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }} - ajout
{% endblock %}
{% block stylesheets %}
    {{ parent() }} <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}

{% block nao_section %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="{{asset('css/select.min.css')}}" rel="stylesheet" />
    <script src="{{asset('js/select2.min.js')}}" ></script>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8 text-center">
                <a href="{{ path('nao_home_register')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="lobster">Vous avez vu un oiseau ? </h2>
                <h4>Ajouter une observation</h4>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 ">
                {% if form is defined %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'method': 'POST', 'id': 'observation'} }) }}
                    {{ form_row(form._token) }}
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <h4 class="col-lg-8 col-offset-2 lobster">Quel oiseau ? </h4>
                            </div>
                            <div class="bleu well">
                                <div class="form-group row ">
                                    {{ form_label(form.especes, "Nom *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-9">

                                        {{ form_widget(form.especes, {'attr': {'class': 'form-control'}}) }}</div>
                                </div>
                                <div class="form-group row"><div class="col-sm-9 col-sm-offset-3"> {{ form_errors(form.especes) }}</div></div>
                                <div class="row">
                                    {{ form_label(form.photo, "Photo  ", {'label_attr': {'class': 'col-sm-3 control-label', 'accep': 'image/*;capture=camera'}}) }}
                                    <div class="col-sm-9">{{ form_widget(form.photo) }}</div>
                                </div>
                                <div class="form-group"><div class="col-sm-9 col-sm-offset-3"> {{ form_errors(form.photo) }}</div></div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">               
                            <div class="row ">               
                                <h4 class="col-lg-8 col-offset-2 lobster">Quand ça ? </h4>
                            </div>
                            <div class="bleu well">
                                <div class="row">
                                    {{ form_label(form.date, "Date  *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                    <div class="col-sm-9"><div class="input-group">{{ form_widget(form.date) }}
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div></div></div>
                                </div>
                                <div class="form-group"><div class="col-sm-9 col-sm-offset-3"> {{ form_errors(form.date) }}</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">               
                        <h4 class="col-lg-8 col-offset-2 lobster" >Où ça ? </h4>
                    </div>
                    <div class="row"> 
                        <div class="col-lg-12 col-lg-offset-0 " >
                            <div class="bleu well">
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <h4 class="text-center">Vous n'êtes plus sur le lieu de l'observation?</h4>
                                        <h5 class="text-center">Entrez l'adresse ou les coordonnées GPS</h5>
                                        <br/>
                                    
                                                    
                                                 
                                             
                                        <div class="form-group row">
                                                            
                                                            {{ form_label(form.coordonnees, "Coordonées ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                            <div class="input-group col-sm-8">
                                                                <div>{{ form_widget(form.coordonnees, {'attr': {'class': 'form-control', 'id': 'coordonnees'}}) }}</div>
                                                                <div class="input-group-addon glyphicon glyphicon-search" style="top:0px;" onclick="rechercheParCoordonnees()" ></div>
                                                            </div> 
                                                            <div class="form-group row"><div class="col-sm-9 col-sm-offset-3"> {{ form_errors(form.coordonnees) }}</div></div>

                                        </div>
                                                            <p class="text-left">ou</p>
                                                  <div class="form-group row">
                                                          
                                                            {{ form_label(form.adresse, "Adresse ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                            <div class="input-group col-sm-8">
                                                                <div class="">{{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}</div>
                                                                <div class="input-group-addon glyphicon glyphicon-search" style="top:0px;" onclick="rechercheParAdresse()"></div>
                                                            </div>
                                                            <div class="form-group row"><div class="col-sm-9 col-sm-offset-3"> {{ form_errors(form.adresse) }}</div></div>
                                                        </div> 
                                               
                                        
                                        </div> 
                                  
                                    <div class="col-lg-6 text-center">
                                        <div class="row">
                                            <h4  >Vous êtes sur le lieu de l'observation ?</h4>
                                          
                                            <h5 >Localisez-vous !</h5>
                                        </div>
                                        <br/>
                                        <br/>
                                        <div id="geo" onclick="geolocalise()" class="btn btn-obs btn-default btn-lg "><div class="glyphicon glyphicon-map-marker"></div> Me localiser</div>
                                    </div> 
                                </div> </div></div>
                    </div>
                    <img src=" {{ asset('images/decor.png') }}" width="100%"/>
                    <div class="row" >
                        <div class="col-lg-12 col-lg-offset-0"  >
                            <div class="col-lg-12 container-map">
                                <div id="map" class="img-responsive"></div></div></div>
                        <div class="col-lg-1"></div></div>
                    <br/>
                    <div class="form-group"><div class="col-sm-12 ">{{ form_widget(form.Valider, {'attr': {'class': 'btn btn-white btn-primary center-block'}}) }} </div></div>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            {% else %}
            {% endif %}
        </div> </div>
    {% endblock %}
    {% block javascripts %}
    <script>   $('#observation_especes').select2();</script>
    {{ parent() }}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                firstDay: 1,
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                weekHeader: 'Sem.',
                minDate: "-6M",
                maxDate: "0",
                dateFormat: 'dd/mm/yy', });
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBDoCqbeaRXPTpQTfaF_dzWWAepGZhXEI&callback=ajouteObservation"></script>

{% endblock %}




