{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Contact
{% endblock %}


{% block nao_section %}

     <div class="container-fluid">
         <div class="col-xs-12 col-sm-offset-1 col-sm-10">
             <img src=" {{ asset('images/decor.png') }}" width="100%"/>
             <div class="panel-user">
                 <div class="row">
                     <div class="text-right btn-croix">
                         {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                             <a class="btn btn-sm active " href="{{ path ('nao_home_register')}}"><span class="glyphicon glyphicon-remove"> </span>  </a>
                         {% else %}
                                 <a class="btn btn-sm active " href="{{ path ('nao_home')}}"><span class="glyphicon glyphicon-remove"> </span>  </a>
                         {% endif %}
                     </div>
                         <h3 class="lobster text-center titre-user">Merci de nous adresser votre message</h3>
                 </div>
                 {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                     <div class="col-sm-offset-1 col-sm-6">
                         <h3>{{ app.user.prenom }} {{ app.user.nom }} </h3>
                         <p>vous avez une question, une remarque, une observation, une requête, une critique, une demande, une idée, du vague à l'âme ?  </p>
                         <p>N'hésitez pas, exprimez-vous, confiez-vous à nous !!!</p>
                         <p>Nous vous répondrons dans les 72 heures maximum.</p>
                         <p><em>Si, bien sûr, votre message est intelligible et d'une correction de bon aloi</em></p>
                     </div>
                 {% endif %}
                 <div class="row panel-body">
                     <div class="col-xs-12 col-sm-offset-1 col-sm-10">

                         {{ form_start(form, { 'attr': {'class': 'form-horizontal contact', 'method': 'POST'} }) }}


                                 {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                    <div class="form-group">
                                     {{ form_label(form.message) }}
                                     {{ form_errors(form.message) }}
                                     {{ form_widget(form.message) }}
                                    </div>
                                {% else %}
                                     {{ form_widget(form) }}
                                    <div class="g-recaptcha form-group " data-sitekey="6Ld4mA0UAAAAALEhlL0rtHKSn9uwUg7xuwlAynP0", data-size="compact"></div>
                                    {% if robot == 2 %}
                                         <p class="alert">Soit vous êtes un robot, soit vous avez simplement oublié de cocher la case</p>
                                    {% endif %}
                                {% endif %}
                        <div class="form-group">
                            <input class="btn" type="submit" value="Envoyer" />
                         </div>
                         {{ form_widget (form._token) }}
                         {{ form_end(form, {'render_rest': false}) }}
                     </div>
                 </div>
             </div>
         </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}