{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Detail espèce
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block nao_section %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8 text-center">
            <a href="{{ path('nao_especes')}}" class="btn btn-obs btn-default">Retour vers la liste des espèces</a>
        </div>
    </div>
    <div class="row col-md-10 col-md-offset-1">
        <h1 class="lobster">{{ espece.nomLatinComplet  }}</h1>
        <h2 class="lobster">{{ espece.nomFrancais }} (français)</h2>
        <p class = "lobster border_bottom">({{ espece.ordre }}, {{ espece.famille }})</p>
        <br>
    </div>

    <div class="row col-md-10 col-md-offset-1">
        <p class = "border_bottom">Carte mondiale de présence dans les territoires français (source base de données TAXREF)</p>
        <div id="mapMonde">
        </div>
        <div class="table-responsive">
            <table class="legende">
                <caption>Légende</caption>
                <tbody>
                <tr>
                    <th nowrap valign="top">A :</th>
                    <td valign="top">ABSENTE</td>
                    <th nowrap valign="top">B :</th>
                    <td valign="top">PRESENT OCCASIONNEL</td>
                    <th nowrap valign="top">C :</th>
                    <td valign="top">CRYPTOGENE</td>
                </tr>
                <tr>
                    <th nowrap valign="top">D :</th>
                    <td valign="top">DOUTEUX</td>
                    <th nowrap valign="top">E :</th>
                    <td valign="top">ENDEMIQUE</td>
                    <th nowrap valign="top">I :</th>
                    <td valign="top">INTRODUITE</td>
                </tr>
                <tr>
                    <th nowrap valign="top">J :</th>
                    <td valign="top">INTRODUITE ENVAHISSANTE</td>
                    <th nowrap valign="top">M :</th>
                    <td valign="top">INTRODUIT NON ETABLIE (dont cultivée ou domestique)</td>
                    <th nowrap valign="top">P :</th>
                    <td valign="top">PRESENTE</td>
                </tr>
                <tr>
                    <th nowrap valign="top">Q :</th>
                    <td valign="top">SIGNALEE PAR ERREUR</td>
                    <th nowrap valign="top">S :</th>
                    <td valign="top">PRESENTE SUBENDEMIQUE</td>
                    <th nowrap valign="top">W :</th>
                    <td valign="top">DISPARUE</td>
                </tr>
                <tr>
                    <th nowrap valign="top">X :</th>
                    <td valign="top">ETEINTE</td>
                    <th nowrap valign="top">Y :</th>
                    <td valign="top">INTRODUITE ETEINTE</td>
                    <th nowrap valign="top">Z :</th>
                    <td valign="top">ENDEMIQUE ETEINTE</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>


    <div class="row col-md-10 col-md-offset-1">
        <p class = "border_bottom">Carte des observations enregistrées</p>
        <!-- A afficher uniquement si des observations sont enregistrées -->
        {% if observations is not empty %}
            <div id="mapObservations">
            </div>
        {% else %}
            <p><em>Aucune observation n'a encore été validée sur cette espèce pour le moment.</em></p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //Declaration de variables
        var metropole = "{{ espece.statusFranceMetropolitaine }}";
        var guyane = "{{ espece.statusGuyane }}";
        var martinique = "{{ espece.statusMartinique }}";
        var guadeloupe = "{{ espece.statusGuadeloupe }}";
        var saintMartin = "{{ espece.statusSaintMartin }}";
        var saintBarthelemy = "{{ espece.statusSaintBarthelemy }}";
        var saintPierre = "{{ espece.statusSaintPierreEtMiquelon }}";
        var mayotte = "{{ espece.statusMayotte }}";
        var ilesEparses = "{{ espece.statusIlesEparses }}";
        var reunion = "{{ espece.statusReunion }}";
        var taaf = "{{ espece.statusTAAF }}";
        var polynesie = "{{ espece.statusPolynesieFrancaise }}";
        var nouvelleCaledonie = "{{ espece.statusNouvelleCaledonie }}";
        var wallis = "{{ espece.statusWallisEtFutuna}}";
        var clipperton = "{{ espece.statusClipperton }}";

        var observationsEnregistrees = [];
        {% for observation in observations %}
            observationsEnregistrees.push({"auteur":"{{ observation.user.username }}", "date":"{{ observation.date|date('d/m/Y') }}", "coordonnees":"{{ observation.coordonnees }}", "photo":"{{ observation.photo}}"});
        {% endfor %}
    </script>
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBDoCqbeaRXPTpQTfaF_dzWWAepGZhXEI&callback=initMap">
    </script>
{% endblock %}