{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Espèces
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block nao_section %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8 text-center">
                <a href="{{ path('nao_home_register')}}" class="btn btn-obs btn-default">Retour vers l'accueil</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="lobster">Récapitulatif de toutes les espèces enregistrées dans la base de données TAXREF</h2>
                <br/>
            </div>
        </div>
        <div class="row ">
            <div  class="col-lg-10 col-lg-offset-1">
                <img style="" src=" {{ asset('images/decor.png') }}" width="100%"/>
                <div class="table-responsive col-lg-12 bleu">
                    <table class="table-hover table-bordered table-condensed table-hover text-center stripe" id="tableau">
                        <thead>
                            <tr>
                                <th> Famille </th>
                                <th> Rang </th>
                                <th> Nom latin </th>
                                <th> Nom français </th>
                                <th> Habitat </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <p>
                    <br/>
                    <a href="https://inpn.mnhn.fr/accueil/index">Source: Base de données "Taxref" du Musée National d'Histoire Naturelle</a>
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-8 text-center">
                {% if is_granted('ROLE_PRO') %}
                    <button type="button" class="btn" title="Mettre à jour la base" data-toggle="modal" data-target="#especeDialog"><span class="glyphicon glyphicon-download-alt"></span> Mettre à jour la base</button>
                    <div class="modal fade" id="especeDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title lobster" id="myModalLabel">Confirmation demandée</h4>
                                </div>
                                <div class="modal-body">
                                    Voulez-vous vraiment mettre à jour la base ? Cette opération peut prendre quelques minutes.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-obs btn-default" data-dismiss="modal">Annuler</button>
                                    <a href="{{ path('load_taxref') }}" class="btn">Confirmer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var ajax = "{{ path('especes_paginate') }}";
    </script>
    {{ parent() }}
{% endblock %}