{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }} - FAQ
{% endblock %}
{% block stylesheets %}
    {{ parent() }} <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}
{% block nao_section %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="{{asset('css/select.css')}}" rel="stylesheet" />
    <script src="{{asset('js/select2.js')}}" ></script>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8 text-center">
                  {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a href="{{ path('nao_home_register')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
                {% else %} <a href="{{ path('nao_home')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>{% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="lobster">Vous avez des questions ?</h2>
                <h4>Consulter notre foire aux questions</h4>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 ">
                <div>          <img id="faqimg" src=" {{ asset('images/decor.png') }}" width="100%" /></div>
                <div class="col-md-12 bleu">
                    <h4 class="lobster">Comment s'inscrire ?</h4>
                    <p>Pour vous inscrire, allez dans le menu, cliquez sur  "Mon compte" puis sur "Création de compte" ou <a href="{{path ('registration') }}">cliquez ici.</a> </p>
                    <h4 class="lobster">A quoi sert l'inscription en tant que professionnel ?</h4>
                    <p> Si vous êtes un professionnel des oiseaux, nous vous proposons de contribuer à notre programme de recherche en vérifiant les observations des particuliers. 
                        Vous pourrez également ajouter et publier des observations, sans attendre une validation. </p>
                    <h4 class="lobster">Comment se connecter ?</h4>
                    <p>Pour se connecter, il faut tout d'abord s'inscrire sur le site, voir la rubrique "Comment s'inscrire ", puis 
                        allez dans le menu cliquez sur "Mon compte" puis "Se connecter" ou <a href="{{path ('login') }}"> cliquez ici.</a>
                    </p>
                    <h4 class="lobster">Comment modifier mon mot de passe ?</h4>
                    <p> Pour modifier votre mot de passe, connectez-vous, et cliquez sur "Changer votre mot de passe" dans le pied de page ou   
                        <a href="{{path ('password') }}">cliquez ici.</a>  
                           <h4 class="lobster">Comment faire si j'ai oublié mon mot de passe ?</h4>
                    <p> Si vous avez perdu votre mot de passe, allez sur la page de connexion puis cliquez sur le lien "Mot de passe oublié" et laissez-vous guider.
                    <h4 class="lobster">Je me suis inscrit en tant que professionnel et mes observations ne sont pas visibles, pourquoi ?</h4>
                    <p>Quand vous vous inscrivez en tant que professionnel,
                        vous disposez du statut de particulier jusqu'à la validation de votre compte professionnel par un aministrateur du site. Cette validation peut prendre maximun 72h après la création de votre compte. </p>
                                 <h4 class="lobster">Comment ajouter une observation ?</h4>
                    <p>Pour ajouter un observation, il faut vous connecter. Puis, allez sur la page "Ajouter une observation" ou <a href="{{path ('nao_add') }}">cliquez ici</a> et suivez les étapes suivantes :</p>
                    <ul>
                        <li>Sélectionner une espèce</li>
                        <li>Sélectionner une date a laquelle a eu lieu l'observation</li>
                        <li>Renseigner la position de l'observation, pour celà vous pouvez soit:</li>
                        <ul>
                            <li>Vous localisez si vous êtes sur le lieu de l'observation en cliquant sur le bouton "Me Localiser"</li>
                            <li>Renseigner les coordonnées GPS de l'observation (latitude, longitude)</li>
                            <li>Renseigner l'adresse de l'observation</li></ul>
                    </ul>
                    <h4 class="lobster">Pourquoi mon observation est-elle en attente ?</h4>
                    <p>Si vous êtes un particulier, une validation de la part d'un professionnel est requis avant la publication de l'observation.</p>
                    <h4 class="lobster">Pourquoi mon observation a t-elle était refusée ?</h4>
                    <p>Si votre observation a été refusée c'est qu'elle n'a pas était jugée correcte par les professionnels.</p>
                    <ul>
                        <li>Soit l'image ne correspond pas </li>
                        <li>Soit le nom ne correspond pas </li>
                        <li>Soit le lieu de l'observation n'est pas cohérent</li>

                    </ul>
                    <h4 class="lobster">Pourquoi mon observation n'est pas visible dans la liste des observations ?</h4>
                    <p>Si vous êtes un particulier, une validation de la part d'un professionnel est requis avant la publication de l'observation, allez sur la page "Mes observations" disponible depuis le
                        menu en cliquant sur "Observation" puis "Mes observations" ou <a href="{{path ('nao_mylist') }}">cliquez ici </a> pour voir où en est la publication 
                        de l'une de vos observations.</p>

                    <h4 class="lobster">Comment consulter la liste des espèces ?</h4>
                    <p> Pour consulter la liste des espèces, aller à la page "Référentiel TAXREF" , pour y accéder cliquez sur "Réfentiel TAXREF" dans le menu ou <a href="{{ path ('nao_especes') }}"> cliquez ici </a>.
                        Sur la page vous pourrez effectuer une rechercher parmi les différentes espèces. </p>
                    <h4 class="lobster">Comment consulter la fiche détaillée d'une espèce ?</h4>
                    <p>       Pour consulter la fiche détaillée d'une espèce, il faut vous connecter et aller soit :</p>
                    <ul>
                        <li> sur la liste des espèces TAXREF en cliquant sur "Référentiel TAXREF" dans le menu, puis cliquez sur la fiche que vous souhaitez consulter. </li>
                        <li> sur une fiche observation en cliquant sur le bouton "Fiche espèce" . </li>
                    </ul>
                    <br/>
                    <br/>
                    <br/>
                    <h4 class="lobster">Vous avez d'autres questions ?</h4>
                    <p>Contactez nous, <a href="{{path ('nao_contact') }}">cliquez ici</a> nous vous répondrons dans les 72h.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}




{% endblock %}




