{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Mentions Légales
{% endblock %}


{% block nao_section %}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <h2 class="lobster titre-texte">L'association Nos Amis les Oiseaux ! </h2>
            <div class="texte">
                <h3>MENTIONS LEGALES</h3>

                <p><strong>ASSOCIATION NAO association loi 1901</strong><br/>
                        25 rue Principale<br/>
                        33000 Bordeaux  </p>

                <p>Directeur de publication : Michel Dujardin</p>
                <p>Hébergeur :<br/>
                        1&1 Internet SARL<br/>
                        7, place de la Gare<br/>
                        BP 70109<br/>
                        57201 Sarreguemines Cedex</p>

                   <p>Numéro de déclaration à la CNIL : 123456789</p>

                    <p>Article L122-4 du Code de la Propriété intellectuelle : Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de même pour la traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art ou un procédé quelconque. Ils peuvent également, s'ils le souhaitent, signaler que les contenus peuvent être reproduits, mais avec mention de la source et éventuellement un lien pointant vers le contenu original.</p>

                    <p>Site réalisé par CMDL<br/>
                    7, rue du Paradis<br/>
                    75001 PARIS</p>
                    <p>Nous contacter :
                    <a href="http://dpmp.fr" target="_blank"><img src="{{asset('images/logo2.png')}}" alt="cmdl"></a></p>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p><br/>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <a href="{{ path('nao_home_register')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
                        {% else %}
                            <a href="{{ path('nao_home')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}