{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}


{% block nao_section %}

    <div class="container-fluid ecartsupp">
         <div id="slider-accueil" class="carousel slide row" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#slider-accueil" data-slide-to="0" class="active"></li>
                <li data-target="#slider-accueil" data-slide-to="1"></li>
                <li data-target="#slider-accueil" data-slide-to="2"></li>
            </ol>
            <!-- Contenu du slider -->
            <div class="carousel-inner " role="listbox">
                <div class="item active " style="overflow:hidden;">
                    <img src="{{asset('images/slide1.jpg')}}" alt="oiseau" style="">
                    <div class="absolute row ">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0"> 
                            <div class="col-xs-7  ">  
                                <div class="col-lg-12 "> 

                                    <img class="image-responsive" src="{{asset('images/logo_max.png')}}" alt="logo_nao" style="width:100%;"/>
                                </div>
                              <div class="col-lg-12 texte-slide "> 
                                    <h3 class="text-center hidden-xs">VENEZ CONSULTER LA LISTE DES ESPECES DE LA BASE DE DONNEES TAXREF</h3>
                                    <p class="text-center visible-xs">VENEZ CONSULTER LA LISTE DES ESPECES DE LA BASE DE DONNEES TAXREF</p>
                                    
                                     
                                </div>
                                 
                               </div></div></div>
                </div>
                <div class="item">
                    <img src="{{asset('images/slide2.jpg')}}" alt="oiseau"> 
                    <div class="absolute row ">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1col-xs-12 col-xs-offset-0"> 
                            <div class="col-sm-7 col-sm-offset-5 col-xs-8 col-xs-offset-4"> 
                                <div class="col-lg-12 "> 

                                    <img class="image-responsive" src="{{asset('images/logo_max.png')}}" alt="logo_nao" style="width:100%;"/></div>
                               <div class="col-lg-12 texte-slide "> 
                                    <h3 class="text-center hidden-xs">VENEZ CONSULTER LES OBSERVATIONS DES AUTRES PASSIONNES</h3>
                                    <p class="text-center visible-xs">VENEZ CONSULTER LES OBSERVATIONS DES AUTRES PASSIONNES</p>
                                    
                                     
                                </div>
                                 
                              
                            </div></div></div>
                </div>
                <div class="item">
                    <img src="{{asset('images/slide3.jpg')}}" alt="oiseau">
                    <div class="absolute row ">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0"> 
                            <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5  col-xs-7 col-xs-offset-5"> 
                                <div class="col-lg-12 "> 

                                    <img class="image-responsive" src="{{asset('images/logo_max.png')}}" alt="logo_nao" style="width:100%;"/></div>
                             <div class="col-lg-12 texte-slide "> 
                                    <h3 class="text-center hidden-xs">CONTRIBUEZ A NOTRE PROGRAMME DE RECHERCHE EN PARTAGEANT VOS OBSERVATIONS</h3>
                                    <p class="text-center visible-xs">CONTRIBUEZ A NOTRE PROGRAMME DE RECHERCHE EN PARTAGEANT VOS OBSERVATIONS</p>
                                    
                                     
                                </div>
 
                            </div></div></div>
                </div>
<!-- Controls -->
            <a class="left carousel-control" href="#slider-accueil" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#slider-accueil" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>

            </div>
           
        <div class="row">
            <h1 class="text-center lobster"> Bienvenue  {{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}</h1><br/>
        </div>
            {% for message in app.session.flashbag.get('info') %}
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <br/>
                    <div class="alert alert-info text-center">{{ message }}</div>
                    <br/>
                </div>
            {% endfor %}
            
            <div class="bg-bandeau row">
                
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <br/>
                <br/>
                  <div class="col-sm-3 text-center">
                   <a class="btn btn-default btn-lg text-black connect" href="{{ path ('nao_mylist') }}">Mes observations </a>
                </div>
                <div class="col-sm-3 text-center">
                   <a class="btn btn-default btn-lg text-black connect" href="{{ path ('nao_list') }}">Toutes les observations </a>
                </div>
                <div class="col-sm-3 text-center">
                   <a class="btn btn-default btn-lg text-black connect" href="{{ path ('nao_add') }}">Nouvelle observation</a>
                </div>
                <div class="col-sm-3 text-center">
                    <a class="btn btn-default btn-lg text-black connect" href="{{ path ('nao_especes') }}">Référentiel TAXREF</a>
                 </div>
                 
              
            </div>
        </div>
         
        <div class="row text-center">
            <h2 class="lobster">Dernières observations avec photo</h2>
         {% for observation in observations %}
            <div class="col-sm-6">
                {% if observation %}
                    <div class="der-obs text-center">
                    <h3 class="lobster">{{ observation.especes.nomFrancais }}</h3>
                        <p><img class="img-der-obs img-rounded  "  height="350" width="350"   src="{{asset('' ~ observation.photo )}}"/></p>
                   <p> Observé le {{ observation.date|date('d-m-Y')}} par  {{ observation.user.username}} </p> <p>à  {{ observation.adresse}} </p>
                    </div>
                {% else %}
                    <h3 class="lobster">Aucune observation à afficher</h3>
                {% endif %}
            </div>
         {% endfor %}

        </div>
    </div>

{% endblock %}