{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }} - Mes observations
{% endblock %}
{% block stylesheets %}
    {{ parent() }} 
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
{% endblock %}
{% block nao_section %}
    <div class="container-fluid ">
        <div class="row">
           <div class="col-sm-4 col-sm-offset-8 text-center">
                <a href="{{ path('nao_home_register')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="lobster">Mes observations</h2>
                <br/>
            </div>
        </div>
        <div class="row">
                  <img class="col-lg-10 col-lg-offset-1" src=" {{ asset('images/decor.png') }}" width="100%"/>
            <div  class="table-responsive col-lg-10 col-lg-offset-1 bleu">
                <table id="tableauObs" class="table table-bordered table-condensed table-hover text-center ">
                    <thead>
                        <tr >
                            <th>Nom de l'espèce</th>
                            <th> Photo</th>
                            <th>Date de l'observation</th>
                            <th>Lieu </th>
                            <th>Statut </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for observation in observations %}
                            <tr>
                                <td><a href="{{ path ('nao_fiche', {'observationNumber' : observation.id})}}">{{ observation.especes.nomFrancais }}</a></td>
                                <td>{% if observation.photo=="" %}<img class="img-thumbnail img-responsive " height="60" width="60" src="{{asset('/images/observationDl/defaut_icon.png' )}}"/>{% else %}<img class="img-thumbnail"  height="60" width="60" src="{{asset('' ~ observation.photo )}}"/>{% endif %}</td>
                                <td>   {{ observation.date|date('d-m-Y')}}</td>
                                <td>   {{ observation.adresse}}</td>
                                <td id="statutObs"> 
                                    {% if observation.statut == 1 %} <span class="glyphicon glyphicon-ok btn btn-white btn-success"></span>
                                    {% elseif observation.statut == 2 %} <span class="glyphicon glyphicon-remove btn btn-white btn-danger"></span>
                                    {% elseif observation.statut == 0 %} <span class="glyphicon glyphicon-hourglass btn btn-white btn-warning"></span>{%endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <br/>
            <div  class="table-responsive col-lg-3 col-lg-offset-1">
                <table id="legendObs" class="table table-bordered table-condensed table-hover text-center ">
                    <thead>
                        <tr>
                            <th> Légende</th>
                            <th>Icone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Observation validée</td>
                            <td> <span class="glyphicon glyphicon-ok btn btn-white btn-success"></span></td>
                        </tr>
                        <tr>
                            <td>Observation refusée</td>
                            <td> <span class="glyphicon glyphicon-remove btn btn-white btn-danger"></span></td>
                        </tr>
                        <tr>
                            <td>Observation en attente de validation</td>
                            <td>  <span class="glyphicon glyphicon-hourglass btn btn-white btn-warning"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}