{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }} - Liste
{% endblock %}
{% block stylesheets %}
    {{ parent() }} 
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{% endblock %}
{% block nao_section %}
    <div class="container-fluid ">
        {% for message in app.session.flashbag.get('valid') %}
            <div class="row alert alert-success" style="margin-top:-20px;">{{message}}</div>
            {%endfor%}
               {% for message in app.session.flashbag.get('refus') %}
            <div class="row alert alert-danger" style="margin-top:-20px;">{{message}}</div>
            {%endfor%}
        <div class="row">
         <div class="col-sm-4 col-sm-offset-8 text-center">
                <a href="{{ path('nao_home_register')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="lobster">Observations en attente de validation</h2>
                <br/>
            </div>
        </div>
        <div class="row">
               <img class="col-lg-10 col-lg-offset-1" src=" {{ asset('images/decor.png') }}" width="100%"/>
           
            <div  class="table-responsive row col-lg-10 col-lg-offset-1 bleu">
                <table id="tableauObs" class="table table-bordered table-condensed table-hover text-center ">
                    <thead>
                        <tr>
                            <th>Nom de l'espèce</th>
                            <th>Photo</th>
                            <th>Date de l'observation</th>
                            <th>Lieu </th>
                            <th>Observé par </th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for observation in observations %}
                            <tr>
                                <td><a href="{{ path ('nao_fiche', {'observationNumber' : observation.id})}}">{{ observation.especes.nomFrancais }}</a></td>
                                <td>{% if observation.photo=="" %}<img class="img-thumbnail img-responsive " height="60" width="60" src="{{asset('/images/observationDl/defaut_icon.png' )}}"/>{% else %}<img class="img-thumbnail"  height="60" width="60" src="{{asset('' ~ observation.photo )}}"/>{% endif %}</td>
                                <td>   {{ observation.date|date('d-m-Y')}}</td>
                                <td>   {{ observation.adresse}}</td>
                                <td>   {{ observation.user.username}}</td>
                                <td class="row text-center icone">
                                    <div class="col-lg-6"><a href="{{ path('nao_validation', {'observationNumber' : observation.id})}}" class="btn btn-white btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span> Valider </a></div>
                                    <div class="col-lg-6"><a href="{{ path('nao_refus', {'observationNumber' : observation.id})}}" class="btn btn-white btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Refuser </a></div>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
{% endblock %}