{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }} - Liste
{% endblock %}
{% block stylesheets %}
    {{ parent() }} 
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
{% endblock %}
{% block nao_section %}
    <div class="container-fluid ">
        <div class="row">
           
                  <div class="col-sm-4 col-sm-offset-8 text-center">
                <a href="{{ path('nao_home_register')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="lobster">Liste des observations</h2>
                <br/>
            </div>
        </div>
           
          
       
        <div class="row ">

            <div  class="col-lg-10 col-lg-offset-1">
              <img style="" src=" {{ asset('images/decor.png') }}" width="100%"/>
        <div class="row ">

            <div  class="table-responsive col-lg-12 bleu ">
         
             
                <table id="tableauObs" class="table table-bordered table-condensed table-hover text-center ">
                    <thead>
                        <tr>
                            <th>Nom de l'espèce</th>
                            <th>Photo</th>
                            <th>Date de l'observation</th>
                            <th>Adresse </th>
                            <th>Observé par </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for observation in observations %}
                            <tr>
                                <td><a href="{{ path ('nao_fiche', {'observationNumber' : observation.id})}}">{{ observation.especes.nomFrancais }}</a></td>
                                <td>{% if observation.photo=="" %}<img class="img-thumbnail img-responsive " height="60" width="60" src="{{asset('/images/observationDl/defaut_icon.png' )}}"/>{% else %}<img class="img-thumbnail"  height="60" width="60" src="{{asset('' ~ observation.photo )}}"/>{% endif %}</td>
                                <td>   {{ observation.date|date('d-m-Y')}}</td>
                                <td>   {{ observation.adresse}}</td>
                                <td>   {{ observation.user.username}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
            </div>
        
            </div>
        
        
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}