{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }} - Fiche
{% endblock %}
{% block stylesheets %}
    {{ parent() }} <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
{% endblock %}
{% block nao_section %}
    <div class="container-fluid">
              {% for message in app.session.flashbag.get('add') %}
            <div class="row alert alert-success" style="margin-top:-20px;">{{message}}</div>
            {%endfor%}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 well">

                <div class="row">
                    <div class="col-xs-6 text-left marge2">
                        <a href="{{ path ('nao_home_register')}}" class="btn btn-obs btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Retour vers l'accueil</a>
                    </div>
                    <div class="col-xs-6 text-right marge2 ">
                        <a href="{{ path('nao_espece_detail',{'especeNumber' : observations.especes.cdNom}) }}" class="btn btn-obs btn-default ">Voir la fiche de l'espèce <span class="glyphicon glyphicon-arrow-right"></span></a>
                    </div> 
                </div> 
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="lobster ">Fiche observation</h2>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-3 text-center">
                        {% if observations.photo=="" %}<img class="img-thumbnail img-responsive " height="250" width="250" src="{{asset('images/observationDl/defaut_icon.png' )}}"/>
                        {% else %}<img class="img-thumbnail "  height="250" width="250" src="{{asset('' ~ observations.photo )}}"/>{% endif %}

                    </div>
                    <div class="col-lg-7 ">
                        <p><strong>Nom de l'espèce : </strong> {{ observations.especes.nomFrancais }}</p>
                        <p><strong>Date de l'observation : </strong> {{ observations.date|date('d-m-Y')}}  </p>
                        <p><strong>Lieu : </strong> {{ observations.adresse}}  </p>
                        <p><strong>Coordonees GPS : </strong> {{ observations.coordonnees}}  </p>
                        <p><strong>Observateur : </strong> {% if observations.user.role == "ROLE_USER"%}<strong class="text-success">  {{ observations.user.username}} (particulier) </strong>{% else %}<strong class="text-primary">{{ observations.user.username}} (professionnel) </strong> {% endif%}
                        </p>
                        {% if observations.statut != 1 %}  <p><strong>Statut : </strong> 
                                {% if observations.statut == 2 %} <strong class="text-danger">Observation refusé</strong>
                                {% elseif observations.statut == 0 %} <strong class="text-warning">En attente de validation</strong>{%endif%} </p>{%endif%}
                            <br/> </div>  
                        <div class="col-lg-2 text-right">
                        </div>   </div>
                    <div class="row " >
                        <img class="img-responsive col-lg-12" src=" {{ asset('images/decor.png') }}" alt="Décor oiseaux" />
                    </div>
                    <div class="row" >
                        <div class="col-lg-12"  >
                            <div class="col-lg-12 container-map" >
                                <div id="map" class="img-responsive" ></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript">
            function getCoordonnees() {
                return new google.maps.LatLng({{ observations.coordonnees }});
            }
        </script>
        {{ parent() }}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBDoCqbeaRXPTpQTfaF_dzWWAepGZhXEI&callback=afficheObservation"></script>
    {% endblock %}