{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Présentation
{% endblock %}


{% block nao_section %}
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <h1 class="lobster titre-texte">L'association Nos Amis les Oiseaux ! </h1>
                <div class="texte">

                    <p><strong>L’association NAO (Nos Amis les Oiseaux)</strong>  est une association sans but lucratif ouverte à tous.</p>

                    <p>Sa mission est de développer une communauté de passionnés autour du milieu de l’ornithologie. Les professionnels du secteur et les passionnés prendront part à un programme de recherche visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.</p>

                        <p>L'association oeuvre pour améliorer et promouvoir la qualité de vie de nos amis les oiseaux.</p>

                       <p>Elle est un espace de vie, de rencontres et d'échanges, d'écoute et de partage ouvert à tout le monde.</p>

                    <p>Dans un esprit d'entraide, de respect des différences et de convivialité, elle propose un accueil, des activités, des évènements et des loisirs afin de répondre au mieux aux besoins des passionnés d’ornithologie.</p>

                        <p>NAO est donc un groupe qui réunit des personnes afin de défendre des valeurs et des intérêts communs.</p>
                        <p></p>C'est cette force collective que le comité et l'équipe d'animateurs souhaitent mettre en avant.</p>

                        <p></p>N'hésitez pas à venir découvrir notre association dès maintenant, si vous avez des questions n’hésitez pas à nous contacter ici !</p><br/>

                        <p>A très vite,</p>
                        <p>Michel Dujardin, fondateur NAO.</p>
                </div>


                <div class="img-wow " >
                <p><img class="img-responsive" src="{{asset('images/wow_img.png')}}" alt="oiseau"></p>
                  <img class="logo-wow" src="{{asset('images/logo_max.png')}}" alt="logo_nao">
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p><br/>
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <a href="{{ path('nao_home_register')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
                            {% else %}
                                <a href="{{ path('nao_home')}}" class="btn btn-obs btn-default">Retour vers la page d'accueil</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}